@import "tailwindcss";
@import "./themes/default/theme.css";

body {
  font-family: var(--font-work-sans);
  cursor: url("../assets/images/cursor.png") 4 4, auto;
}

.cursor-default {
  cursor: url('../assets/images/cursor.png') 4 4, auto;
}

.cursor-pointer {
  cursor: url('../assets/images/cursor-pointer.png') 4 4, pointer;
}