.scrollbarCustomTextArea {
  overflow-y: auto;
}

.scrollbarCustomTextArea::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollbarCustomTextArea::-webkit-scrollbar-thumb {
  background-color: var(--color-soft-white);
  border-radius: 1rem;
  cursor: pointer;
}

.scrollbarCustomTextArea::-webkit-scrollbar-track {
  background-color: var(--color-opaque-gray);
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .scrollbarCustomTextArea::-webkit-scrollbar {
    width: 0.3rem;
  }
}